# Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
pd.read_csv('ratings.csv')

,useri,movie_id,rating,tstamp
0,8e7cebf9a234c064b75016249f2ac65e,1,5.0,2001-09-10 17:19:56
1,8e7cebf9a234c064b75016249f2ac65e,2,4.0,2001-09-28 11:34:55
2,8e7cebf9a234c064b75016249f2ac65e,3,4.0,2001-09-28 11:42:50
3,8e7cebf9a234c064b75016249f2ac65e,5,5.0,2001-09-28 11:27:30
4,8e7cebf9a234c064b75016249f2ac65e,6,4.0,2002-01-07 18:12:02
5,8e7cebf9a234c064b75016249f2ac65e,7,4.0,2001-09-21 14:09:24
6,8e7cebf9a234c064b75016249f2ac65e,10,4.0,2001-09-29 18:13:15
7,8e7cebf9a234c064b75016249f2ac65e,11,4.0,2001-09-21 11:54:21
8,8e7cebf9a234c064b75016249f2ac65e,12,4.0,2001-09-29 18:58:15
9,8e7cebf9a234c064b75016249f2ac65e,13,4.0,2001-09-14 15:29:46
10,8e7cebf9a234c064b75016249f2ac65e,14,3.5,2004-05-10 22:38:37
11,8e7cebf9a234c064b75016249f2ac65e,15,2.0,2001-09-29 19:02:38
12,8e7cebf9a234c064b75016249f2ac65e,16,4.0,2001-09-19 09:22:33
13,8e7cebf9a234c064b75016249f2ac65e,17,5.0,2001-09-10 12:08:45
14,8e7cebf9a234c064b75016249f2ac65e,18,2.5,2017-05-22 17:37:52
15,8e7cebf9a234c064b75016249f2ac65e,19,1.5,2006-07-15 00:12:20
16,8e7cebf9a234c064b75016249f2ac65e,20,2.0,2001-12-19 13:58:15
17,8e7cebf9a234c064b75016249f2ac65e,21,5.0,2001-09-10 13:47:16
18,8e7cebf9a234c064b75016249f2ac65e,22,3.0,2001-09-21 14:13:16
19,8e7cebf9a234c064b75016249f2ac65e,23,3.0,2001-09-29 18:42:09
20,8e7cebf9a234c064b75016249f2ac65e,24,3.0,2001-09-21 11:36:14
21,8e7cebf9a234c064b75016249f2ac65e,25,5.0,2001-09-10 12:38:30
22,8e7cebf9a234c064b75016249f2ac65e,26,5.0,2002-01-10 17:47:57
23,8e7cebf9a234c064b75016249f2ac65e,27,2.0,2001-09-26 16:34:16
24,8e7cebf9a234c064b75016249f2ac65e,28,4.0,2001-09-10 12:00:53
25,8e7cebf9a234c064b75016249f2ac65e,29,3.0,2001-09-10 13:22:11
26,8e7cebf9a234c064b75016249f2ac65e,30,4.0,2001-09-17 13:38:37
27,8e7cebf9a234c064b75016249f2ac65e,31,3.0,2001-09-29 18:34:37
28,8e7cebf9a234c064b75016249f2ac65e,32,5.0,2001-09-10 12:39:20
29,8e7cebf9a234c064b75016249f2ac65e,34,5.0,2001-09-10 10:40:39
...,...,...,...,...
1028721,721ea658e148fc0f76ddd6e2b0e02422,54286,4.5,2015-10-15 04:35:45
1028722,721ea658e148fc0f76ddd6e2b0e02422,55267,4.0,2015-10-14 08:29:45
1028723,721ea658e148fc0f76ddd6e2b0e02422,56367,3.5,2015-10-12 00:48:12
1028724,721ea658e148fc0f76ddd6e2b0e02422,58047,3.5,2015-10-14 08:30:18
1028725,721ea658e148fc0f76ddd6e2b0e02422,58299,3.0,2015-12-26 08:10:35
1028726,721ea658e148fc0f76ddd6e2b0e02422,60126,4.5,2015-10-14 06:14:20
1028727,721ea658e148fc0f76ddd6e2b0e02422,61323,2.0,2016-03-12 06:49:29
1028728,721ea658e148fc0f76ddd6e2b0e02422,63859,4.5,2015-12-26 07:58:01
1028729,721ea658e148fc0f76ddd6e2b0e02422,68954,4.5,2015-10-14 05:25:54
1028730,721ea658e148fc0f76ddd6e2b0e02422,69406,3.5,2015-10-14 10:41:36
1028731,721ea658e148fc0f76ddd6e2b0e02422,71579,3.5,2015-10-14 05:46:45
1028732,721ea658e148fc0f76ddd6e2b0e02422,72226,4.0,2015-10-12 01:06:12
1028733,721ea658e148fc0f76ddd6e2b0e02422,73015,4.0,2015-10-14 10:37:04
1028734,721ea658e148fc0f76ddd6e2b0e02422,73017,2.0,2015-10-14 10:35:32
1028735,721ea658e148fc0f76ddd6e2b0e02422,73266,3.0,2015-10-15 04:58:55
1028736,721ea658e148fc0f76ddd6e2b0e02422,74450,3.5,2015-10-15 05:10:33
1028737,721ea658e148fc0f76ddd6e2b0e02422,78637,3.5,2015-10-14 10:41:41
1028738,721ea658e148fc0f76ddd6e2b0e02422,80549,3.0,2015-10-15 04:52:44
1028739,721ea658e148fc0f76ddd6e2b0e02422,81834,3.5,2015-10-12 00:42:39
1028740,721ea658e148fc0f76ddd6e2b0e02422,81845,4.5,2015-10-12 00:41:53
1028741,721ea658e148fc0f76ddd6e2b0e02422,86298,4.0,2015-10-14 05:25:45
1028742,721ea658e148fc0f76ddd6e2b0e02422,86882,4.5,2015-10-14 10:37:12
1028743,721ea658e148fc0f76ddd6e2b0e02422,88163,4.0,2015-10-14 05:42:11
1028744,721ea658e148fc0f76ddd6e2b0e02422,90522,3.5,2015-10-14 05:47:18
1028745,721ea658e148fc0f76ddd6e2b0e02422,92259,4.5,2015-10-12 00:41:52
1028746,721ea658e148fc0f76ddd6e2b0e02422,95167,1.5,2015-10-14 10:39:15
1028747,721ea658e148fc0f76ddd6e2b0e02422,103335,4.5,2015-10-14 10:21:55
1028748,721ea658e148fc0f76ddd6e2b0e02422,104374,3.5,2015-10-12 01:05:38
1028749,721ea658e148fc0f76ddd6e2b0e02422,107890,4.0,2015-10-14 05:30:08
1028750,721ea658e148fc0f76ddd6e2b0e02422,111781,4.0,2015-12-26 07:50:05

In [3]:

movie = pd.read_csv('ratings.csv')
movie.rename(columns={' movie_id': 'movie_id', ' rating': 'mark'}, inplace=True)
movie_rating = movie.filter(items = ['movie_id', 'mark'])
high_mark = 5
sort_movie_rating = movie_rating[ movie_rating.mark == high_mark ]
sort_movie_rating['movie_id'].value_counts().head(1)

318    523
Name: movie_id, dtype: int64

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
power = pd.read_csv('power.csv')
baltic = power[ (power['country']=='Latvia') 
               | (power['country']=='Lithuania') 
               | (power['country']=='Estonia') ]
baltic_filter = baltic[ (baltic['quantity'] > 0)
       & ((baltic['year'] >= 2005)
          & (baltic['year'] <= 2010))
       & ((baltic['category'] == 4) | (baltic['category'] == 12) | (baltic['category'] == 21))]

print(f"Суммарное энергопотребление Прибалтики: {baltic_filter['quantity'].sum()}")

Суммарное энергопотребление Прибалтики: 240580.0

# Задание 3

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [5]:
pd.read_html('https://fortrader.org/quotes')[2]

                          Type      Last   Chg.  Chg.%  Time
0      Серебро Цена на серебро    18.019  0.001  0.006   NaN
1    Палладий Цена на Палладий  2210.800  0.000  0.000   NaN
2  Золото Цена золота на бирже  1586.210  0.000  0.000   NaN
3      Платина Цены на платину   959.200  0.000  0.000   NaN
4      Медь Цена меди на бирже     2.515  0.000  0.000   NaN